@use 'components/contentCard/contentCard';
@use 'components/smallCard/smallCard';
@use 'colors';
@use 'icons';

body {
    background-color: colors.$pageBackgroundColor;
}

.contentCard {
    @extend %contentCard;
}

.smallCard {
    @extend %smallCard;
}

.navbar {
    @extend %contentCard;
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex-grow: 0;
    justify-content: space-between;

}

.column {
    display: flex;
    flex-direction: column;
}

.notNavbar {
    flex-grow: 4;
    height: 100vh;
}

.notGraph {
    display: flex;
    width: 100%;
    justify-content: center;
    
    .column {
        flex-grow: 1;
    }
}

.pageContent {
    display: flex;
}

.email {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.contentCardTitle {
    display: flex;
    justify-content: space-between;
    width: 100%;

    div {
        display: flex;
        align-items: center;
    }
}