@use 'components/contentCard/contentCard';
@use 'components/smallCard/smallCard';
@use 'components/graph/graph';
@use 'defaultSizes';
@use 'colors';
@use 'icons';

* {
    font-family: sans-serif;
}

body {
    background-color: colors.$pageBackgroundColor;
}

.contentCard {
    @extend %contentCard;
}

.graph {
    @extend %graph;
}

.smallCard {
    @extend %smallCard;
}

.smallCard2 {
    @extend %smallCard2;
}

.contentCardTitle {
    @extend %contentCardTitle;
}

.navbar {
    @extend %contentCard;
    height: calc(100vh - ((#{defaultSizes.$contentCardPadding} * 2) + (#{defaultSizes.$contentCardMargin} * 2)));
    flex-grow: 2;
    justify-content: space-between;
    align-items: flex-start;

    .column {
        vertical-align: bottom;

        p {

            &:hover {
                border: 1px solid colors.$secondaryColor;
                padding: 9px 19px;
                border-radius: 20px;
            }

            padding: 10px 20px;


        }

        .material-symbols-outlined {
            margin-right: 20px;
        }
    }
}

progress {
    background-color: colors.$secondaryColor;
}

.column {
    display: flex;
    flex-direction: column;
}

.notNavbar {
    flex-grow: 4;
    height: 100vh;
}

.notGraph {
    display: flex;
    width: 100%;
    justify-content: center;

    .column {
        flex-grow: 1;
    }
}

.pageContent {
    display: flex;
}

.email {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}



.container2 h1 {
    font-size: 30px;
}

.bigNumber {
    font-size: xx-large;
}

.smallerNumber {
    font-size: x-large;
}

.cont4Top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.viewReport {
    display: flex;
    flex-direction: flex-end;
    height: 20px;
}

.price {
    display: flex;
    justify-content: center;
}

.date {
    display: flex;
    justify-content: flex-end;
}

.miniNav {
    display: flex;
    justify-content: space-between;
    width: 28%;
}

.cont4main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;


    & div {
        width: 100%;
        display: flex;
        justify-content: space-between;
        vertical-align: bottom;
    }

    & span {
        display: flex;
        justify-content: space-between;
        
    }
}