@use '../../colors';

%smallCard {
    display: flex;
    background-color: colors.$secondaryColor;
    border-radius: 20px;
    padding: 20px;
    color: colors.$cardBackgroundColor;
}

%smallCard2 {
    @extend %smallCard;
    background-color: colors.$cardBackgroundColor;
    color: colors.$textColor;
    border: 1px solid colors.$textColor;
    text-align: center;
}