@use '../../colors';

%contentCard {
    display: flex;
    flex-direction: column;
    background-color: colors.$cardBackgroundColor;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;

    h1:first-of-type,
    h2:first-of-type,
    h3:first-of-type {
        color: colors.$textColor;
        font-size: larger;
    }
}